/* rules */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container{
    width:65%;
    margin: auto;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
/* header */
header{
    display: flex;
    flex-direction:column;

}
.top_header{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px;
}
.top_header > span{
    font-size: 25px;
    margin-left: 12px;
    color: darkgray;
    letter-spacing: -2px;
}

img{
    width: 75px;
}
nav{
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
}
header a{
    text-decoration: none;
    color: gray;
    font-size: 16px;
    padding: 15px;
}
header a:hover{
    color: blue;
    border-bottom: 3px solid blue;
    padding:10px;
    cursor: pointer;
}
nav:hover{
    color: blue;
    
}
/* main */
#site_main{
    padding: 100px 0;
}
h2{
    padding: 20px 0;
}
p{
    line-height: 24px;
    font-size: 13px;
}
main a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

/* footer */
footer{
  background-color: lightgray;
}
.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   padding: 20px 0;
}
footer a{
    text-decoration: none;
    color:gray;
    font-size: 12px;
    margin-right: 10px;
}