*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container{
    width:75%;
    margin: auto;
}
header{
    display: flex;
    flex-direction:column;

}
.top_header{
    display: flex;
    align-items: center;
    padding:15px;
}
.top_header > span{
    font-size: 27px;
    margin-left: 30px;
    font-weight: 500;
    color: gray;
    letter-spacing: -2px;
}

img{
    width: 85px;
}
nav{
    border-bottom: 1px solid gray;
    padding:15px;
}
header a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
}
header a:hover{
    color: blue;
    border-bottom: 3px solid blue;
    padding:15px;
    cursor: pointer;
}
nav:hover{
    color: blue;
    
}
#site_main{
    padding: 100px 0;
}
h2{
    padding: 20px 0;
}
p{
    line-height: 24px;
}
main a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}
footer{
  background-color: lightgray;
}
.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   padding: 20px 0;
}
footer a{
    text-decoration: none;
    color:gray;
    font-size: 12px;
    margin-right: 10px;
}